@font-face {
   font-family: 'SharpSansDisplayNo-Book';
   font-display: swap;
   src: url('file:///C:/Users/afulton/AppData/Local/Mobirise.com/Mobirise/projects/project-2021-04-23_103916/fonts/SharpSansDisplayNo-Book/font.ttf');
}
